@import "../../../scss/functions";

.toggleStatuses {
    flex-shrink: 5;
    font-size: 0;
    position: absolute;
    transform: rotate(90deg);
    padding: toRem(18px) toRem(18px) toRem(30px) toRem(18px);

    &:hover {
	  &::before {
	  color: #282c34;
    }
    }
    &::before {
    cursor: pointer;
	  display: block;
	  content: '❯';
	  margin: auto;
	  width: 100%;
	  height: 100%;
	  font-size: toRem(22px);
	  color: #e6e6e6;
	  font-style: normal;
	  transition: all 200ms;


    }

    &.done {
	  &:before {
		color: #737373;
	  }
    }
}