@import "../../../../scss/functions";

.task {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    transition: all 200ms;


    &:hover {
	  color: black;

	  .task__delete-btn {
		flex-shrink: 1;
		visibility: visible;
		cursor: pointer;
	  }
    }

    &--done {
	  a {
		text-decoration: line-through;
		color: #e2e2e2;
	  }
    }

    &__name {
	  flex-grow: 5;
	  display: inline-block;
	  text-decoration: none;
	  color: inherit;

	  &:focus {

	  }
    }

    &__status-btn {
	  align-self: center;
	  width: toRem(12px);
	  height: toRem(12px);
	  margin: toRem(2px) toRem(5px);
	  border-radius: 10%;
	  display: inline-block;
	  cursor: pointer;
	  transition: all 200ms;

	  &:hover {
		transform: scale(.8);
	  }

	  &--false {
		background-color: rgba(0, 0, 0, 0.7);
	  }


	  &--true {
		background-color: rgba(0, 0, 0, 0.1);
	  }

    }

    &__delete-btn {
	  font-family: 'Brush Script MT', cursive;
	  text-decoration: none;
	  font-weight: lighter;
	  color: #737373;
	  flex-shrink: 1;
	  visibility: hidden;

	  &:hover {
		color: black;
	  }
    }
}
