@import "../../scss/functions";

.inputTask {
    padding: toRem(16px) toRem(16px) toRem(16px) toRem(60px);
    border: none;
    background-color: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 - toRem(2px) toRem(1px) rgb(0 0 0 / 3%);
    outline: 0;
    width: 100%;
    color: #737373;
    &::placeholder {
	  color: #e6e6e6;
	  font-style: italic;
	  font-weight: lighter;
    }
}

.inputWrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: toRem(500px);
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4rem;
    display: flex;
    justify-content: center;
}